.grid {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 70px minmax(160px, auto) auto;
  grid-template-areas: 
    'header header'
    'leftbar main'
    'nav main'
    'footer footer';
  column-gap: 10px;
  row-gap: 10px;
}

.page-header {
  grid-area: header;
}

.page-leftbar {
  grid-area: leftbar;
}

.page-main {
  grid-area: main;
}

.page-nav {
  grid-area: nav;
}

.page-footer {
  grid-area: footer;
}

.header-content {
  font-family: 'lato-regular';
  color: #242424;
  background-color: #8a8989;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.footer-content {
  color: #242424;
  background-color: #8a8989;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.player-content {
  color: #242424;
  background-color: #8a8989;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.guild-content {
  color: #242424;
  background-color: #ac2626;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.battle-content {
  color: #242424;
  background-color: #8a8989;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

.guild-hunter {
  padding: 0 25px;
  margin: 20px 0 0 0;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.guild-hunter img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}